@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/Aboutus.css" asp-append-version="true" />
<div>

    <div class="container">
        <div class="row row1">
            <h1>About Us</h1>
            <br />
            <p>We are a fast growing Software company with lot of vision and passion in developing software products</p>
            
            <p>Everything we do, we believe in challenging the status quo, we believe in thinking differently.</p>

            <p>The way we challenge the status quo is by making our development/products beautifully designed, simple to use, and user friendly.</p>
            
            <p>We just happen to make great innovation and creative technologies in software development. We would like you to be part of our journey.</p>

            <p>Please feel free to <a asp-area="" asp-controller="Home" asp-action="ContactUs">contact us</a>.</p>

            <br />
            <br />
        </div>
    </div>
    <div class="container">
        <div class="row" style="background-color:white">
            <h1>Pavan Bandi <h4>(Msc, BTech)</h4> </h1>
    <a>CEO & Founder</a>
   <br />
   <br />
    <br />


    </div></div>

 @*    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Example column width for larger screens -->
                <div class="card">
                    <img class="card-img-top rounded" src="image.jpg" alt="Team Member">
                    <div class="card-body">
                        <h5 class="card-title">Pavan Bandi</h5>
                        <p class="card-text">Founder & CEO</p>
                        <p class="card-text">Short Description</p>
                        <a href="#" class="btn btn-primary">View Profile</a>
                    </div>
                </div>
            </div>
            <!-- Repeat this block for each team member -->
        </div>
    </div> *@
</div>