@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Our Products and Services </h1>
<br />
<br />
<h3><u>Shrido</u></h3>
<p>Our Smart App service for long and short journey sharing service </p>
Website <a href="https://shrido.in/" target="_blank">Shrido.in</a>
App:
<img src="~/img/shrido logo2.png"  height="200px" width="200px"/>

<br />
<br />

<h3><u>ShriRise</u></h3>
<p>Our Real Estate service </p>
Website <a href="https://shririse.in/" target="_blank">shririse.in</a>

<br />
<br />


<h3><u>ShriFoods</u></h3>
<p>Our Suchi Foods </p>
Website <a href="https://shrifoods.in/" target="_blank">shrifoods.in</a>

<br />
<br />